{% extends "base.html" %}
{% block content %}

Total Value of Materials Inventory: {{totalInventoryValue.cost__sum}}<br>
Total Value of Finished Goods Inventory:

<h1>Dashboard</h1>
<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>

<div class="account">
	<h2>Assets</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>

	<table>
		{% for account in assets %}
		<tr>
			<td>{{account.description}}</td>
			<td>{{account.get_balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="account">
	<h2>Liabilities</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>
	<table>
		{% for account in liabilities %}
		<tr>
			<td>{{account.description}}</td>
			<td>{{account.get_balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="account">
	<h2>Equities</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>
	<table>
		{% for account in equities %}
		<tr>
			<td>{{account.description}}</td>
			<td>{{account.get_balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="account">
	<h2>Revenues</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>
	<table>
		{% for account in revenues %}
		<tr>
			<td>{{account.description}}</td>
			<td>{{account.get_balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="account">
	<h2>Expenses</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>
	<table>
		{% for account in expenses %}
		<tr>
			<td>{{account.description}}</td>
			<td>{{account.get_balance}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="transactions">
	<h2>Journal</h2>
	<hr style='background-color:#000000;border-width:0;color:#000000;height:1px;line-height:0;text-align:left;width:100%;'/>
	<table width="100%">
		<tr>
			<th width="15%">Date</th>
			<th width="55%">Description/Account</th>
			<th width="15%">Debit</th>
			<th width="15%">Credit</th>
	{% for transaction in transactions %}
		<tr>
			<td>{{transaction.date}}</td>
			<td>{{transaction.description}}</td>
		</tr>
			{% for entry in transaction.entries.all %}
		<tr>
			<td></td><td>{{entry.account.number}} {{ entry.account }}</td>
			{% if entry.type.name == "credit" %}
			
			<td></td><td>	{{entry.amount}}</td>
			{% else %}
			<td>	{{entry.amount}}</td>
			{% endif %}
		</tr>
			{% endfor %}
	{% endfor %}
	</table>

</div>
<br>
<br>
{% endblock %}
